<div class="col-lg-12" style="margin: auto;" *ngIf="identidad?.role == 'ROLE_USER'">
    <h1 class="title-head">No tienes permiso para acceder aquí.</h1>
</div>

<div class="col-lg-6" style="margin: auto;" *ngIf="identidad?.role == 'ROLE_ADMIN'">
    <h1  class="title-head">{{title}}</h1>

    <div style="font-weight: 600; margin: 20px;">
        <tr>
            <td>
                <span class="image_for_edit" *ngIf="user.image && user.image != 'null'">
                    <img src="{{url+ 'get-image-user/' + user.image}}"
                        style="width: 70px; height: 70px; margin: 20px; border-radius: 15px;" />
                </span>
            </td>
            <td>
                <span>
                    Hola, {{identidad?.name}} en esta sección podrás modificar los datos del artista, rellene los campos y una vez
                    terminado, dale click al botón denominado 'Actualizar'
                </span>
            </td>
        </tr>
    </div>

    <div *ngIf="alertEdit">
        <div class="alert alert-info" role="alert">
            {{alertEdit}}
        </div>
    </div>



    <form id="userUpdate-form" #registerForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <p>
                <label>Nombre</label>
                <input type="text" #name="ngModel" name="name" [(ngModel)]="user.name" class="form-control" required />
                <span *ngIf="!name.valid && name.touched">El nombre es obligatorio</span>
            </p>
        </div>
        <div class="form-group">
            <p>
                <label>Apellidos</label>
                <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user.surname" class="form-control"
                    required />
                <span *ngIf="!surname.valid && surname.touched">El apellido es obligatorio</span>
            </p>
        </div>
        <div class="form-group">
            <p>
                <label>Correo electrónico</label>
                <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control"
                    required />
                <span *ngIf="!email.valid && email.touched">El email es obligatorio</span>
            </p>
        </div>

        <div class="form-group">
            <p>
                <label>Descripción</label>
                <textarea #description="ngModel" name="description" [(ngModel)]="user.description"
                    class="form-control" required></textarea>
                <span *ngIf="!description.valid && description.touched">La descripcion es obligatoria</span>

            </p>
        </div>
        <div class="form-group">
            <p>
                <label>Subir imagen</label>
                <input type="file" #imageInput name="image" class="form-control" placeholder="Sube tu imagen"
                    (change)="fileChangeEvent($event)" />
            </p>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <input type="submit" value="Actualizar" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>