<div class="jumbotron" style="background-color: white;">
    <h1 class="display-4">Bienvenido a BEAT SOUND!</h1>
    <p class="lead">Empieza a escuchar música de tus artistas favoritos y descubre nuevos hits.</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" role="button" [routerLink]="['/users',1]">Ver Artistas</a>
    </p>

    <p class="lead">
        <a class="btn btn-primary btn-lg" role="button" [routerLink]="['/list-rep',identidad?._id]">Ver Lista de Reproducción</a>
    </p>
</div>