<div class="artist-box " *ngIf="user.name !=''"
    style="background: #333333; border-radius: 30px; margin-top: 20px;padding: 20px;">
    <div id="artist-head-card" class="row"
        style="display: flex;margin: 20px;background-color: black;padding: 20px;border-radius: 20px;border: 1px solid white;color: white;">
        <div class="col-lg-2">
            <img src="{{url + 'get-image-user/' + user.image}}" class="card-img-top img-fluid"
                style="width: 80%; height: auto;border-radius: 20px;" />
        </div>
        <div class="data col-lg-4">
            <h1 class="title-artist-detail">{{user.name}}</h1>
            <p class="description">{{user.description}}</p>

            <a *ngIf="identidad?.role == 'ROLE_ADMIN' || identidad?._id == user._id"
                [routerLink]="['/add-album', user._id]" class="btn btn-dark">Añadir Album</a>
        </div>
    </div>

    <div class="row" style="display: flex;margin: auto;justify-content: center;">
        <div style="width: 18rem; margin: 20px;border: 1px solid white; border-radius: 20px;"
            *ngFor="let album of albums">
            <img src="{{url + 'get-image-album/' + album.image}}" class="card-img-top img-fluid"
                style="width: 100%; height: auto;border-top-left-radius: 20px;border-top-right-radius: 20px;" />
            <div class="card-body"
                style="background: black; color: white; border-bottom-right-radius: 20px; border-bottom-left-radius: 20px; ">
                <h5 class="card-title">{{album.title}}</h5>
                <p class="card-text">{{album.description}}</p>
                <a [routerLink]="['/album', album._id]" class="btn btn-dark" style="margin-bottom: 10px;">Ver Detalles</a>

                <div class="row">
                    <div *ngIf="identidad?.role == 'ROLE_ADMIN' || identidad?._id == user._id" class="col-lg-4">
                        <a [routerLink]="['/edit-album', album._id]" class="btn btn-warning">Editar</a>
                    </div>
                    <div *ngIf="identidad?.role == 'ROLE_ADMIN' || identidad?._id == user._id" class="col-lg-4">
                        <a class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"
                            (click)="onDeleteConfirm(album._id)">Eliminar</a>
                    </div>
                </div>

            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true" *ngIf="confirmado == album._id" style="color: black;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Eliminar Album</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ¿ Estás seguro que desea eliminar el album {{album.title}} ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <a class="btn btn-primary" data-dismiss="modal"
                                (click)="onDeleteAlbum(album._id)">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


</div>